body {
    background-color: #d2d3d5;
}

h1{
    text-align: center;
    padding: 50px;
    color: black;
}
h3{


}
form{
    text-align: center;

}
label{
    color: #0657bf;
    font-size: 30px;
    padding: 25px 40px;
}
input{
    width: 250px;
    height: 50px;
    border: 2px solid black;
    border-radius: 5px;
    background-position: 20px 20px;

}
title{
    color: #1D875D;
}

